# Include symlinks
!./public/**
!./config.json
!./Readme.md
!./LICENSE.txt
!./requirements.txt

# Exclude unnecessary files and directories
*.vsix
*.log
*.tmp
.DS_Store
.vscode/**
.vscode-test/**
.venv/**
server/**

# Include symlinks and necessary files
!./public/**
!./config.json
!./README.md
!./LICENSE.txt
!./requirements.txt

# Exclude unnecessary files and directories
.vscode/**
.vscode-test/**
*.vsix
*.log
*.tmp
.DS_Store

!node_modules/**