<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>version</key>
    <string>0.2.2</string>
    <key>scopeName</key>
    <string>source.Helix</string>
    <key>name</key>
    <string>Helix</string>
    <key>patterns</key>
    <array>
      <dict>
        <key>include</key>
        <string>#block-comments</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#comments</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#attributes</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#class_reference</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#constants</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#functions</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#types</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#keywords</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#define</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#namespaces</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#punctuation</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#strings</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#variables</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#generics</string>
      </dict>
    </array>
    <key>repository</key>
    <dict>
      <key>comments</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>comment.line.Helix</string>
            <key>match</key>
            <string>//.*$</string>
          </dict>
        </array>
      </dict>
      <key>block-comments</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>comment</key>
            <string>block comments</string>
            <key>name</key>
            <string>comment.block.Helix</string>
            <key>begin</key>
            <string>/\*</string>
            <key>end</key>
            <string>\*/</string>
          </dict>
        </array>
      </dict>
      <key>constants</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>constant.numeric.decimal.Helix</string>
            <key>match</key>
            <string>\b\d[\d_]*(\.?)[\d_]*(?:(E|e)([+-]?)([\d_]+))?\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>constant.numeric.hex.Helix</string>
            <key>match</key>
            <string>\b0x[\da-fA-F_]+\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>constant.numeric.oct.Helix</string>
            <key>match</key>
            <string>\b0o[0-7_]+\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>constant.numeric.bin.Helix</string>
            <key>match</key>
            <string>\b0b[01_]+\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>constant.language.bool.Helix</string>
            <key>match</key>
            <string>\b(true|false|null|nullptr)\b</string>
          </dict>
        </array>
      </dict>
      <key>escapes</key>
      <dict>
        <key>comment</key>
        <string>escapes: ASCII, byte, Unicode, quote, regex</string>
        <key>name</key>
        <string>constant.character.escape.Helix</string>
        <key>match</key>
        <string>(\\)(?:(?:(x[0-7][\da-fA-F])|(u(\{)[\da-fA-F]{4,6}(\}))|.))</string>
        <key>captures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>constant.character.escape.backslash.Helix</string>
          </dict>
          <key>2</key>
          <dict>
            <key>name</key>
            <string>constant.character.escape.bit.Helix</string>
          </dict>
          <key>3</key>
          <dict>
            <key>name</key>
            <string>constant.character.escape.unicode.Helix</string>
          </dict>
          <key>4</key>
          <dict>
            <key>name</key>
            <string>constant.character.escape.unicode.punctuation.Helix</string>
          </dict>
          <key>5</key>
          <dict>
            <key>name</key>
            <string>constant.character.escape.unicode.punctuation.Helix</string>
          </dict>
        </dict>
      </dict>
      <key>functions</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>comment</key>
            <string>function definition</string>
            <key>name</key>
            <string>meta.function.definition.Helix</string>
            <key>begin</key>
            <string>\b(fn)\s+(((?!self|super))?[A-Za-z0-9_]+)((\()|(&lt;))</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>keyword.other.fn.Helix</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>entity.name.function.Helix</string>
              </dict>
              <key>4</key>
              <dict>
                <key>name</key>
                <string>punctuation.brackets.round.Helix</string>
              </dict>
              <key>5</key>
              <dict>
                <key>name</key>
                <string>punctuation.brackets.angle.Helix</string>
              </dict>
            </dict>
            <key>end</key>
            <string>\{|;</string>
            <key>endCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.brackets.curly.Helix</string>
              </dict>
            </dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#block-comments</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#comments</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#keywords</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#class_reference</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#constants</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#functions</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#define</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#namespaces</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#punctuation</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#strings</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#types</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#variables</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>comment</key>
            <string>function/method calls, chaining, and generic function calls, including generics before the parenthesis</string>
            <key>name</key>
            <string>meta.function.call.Helix</string>
            <key>begin</key>
            <string>(((?!self|super))?[A-Za-z0-9_]+)((&lt;([A-Za-z0-9_]+(::[A-Za-z0-9_]+)*(,\s*[A-Za-z0-9_]+(::[A-Za-z0-9_]+)*)*)&gt;)?)(\()</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>entity.name.function.Helix</string>
              </dict>
              <key>4</key>
              <dict>
                <key>name</key>
                <string>storage.type.generic.Helix</string>
              </dict>
              <key>5</key>
              <dict>
                <key>name</key>
                <string>entity.name.type.Helix</string>
              </dict>
              <key>9</key>
              <dict>
                <key>name</key>
                <string>punctuation.brackets.round.Helix</string>
              </dict>
            </dict>
            <key>end</key>
            <string>\)</string>
            <key>endCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.brackets.round.Helix</string>
              </dict>
            </dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#block-comments</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#comments</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#attributes</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#keywords</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#class_reference</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#constants</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#functions</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#define</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#namespaces</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#punctuation</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#strings</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#types</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#variables</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#generics</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>keywords</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>comment</key>
            <string>Control flow keywords</string>
            <key>name</key>
            <string>keyword.control.Helix</string>
            <key>match</key>
            <string>\b(break|case|continue|default|else|for|if|match|switch|unless|in|while)\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>Function and method keywords</string>
            <key>name</key>
            <string>keyword.function.Helix</string>
            <key>match</key>
            <string>\b(async|define|fn|inline|macro|op|return|yield)\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>Class and struct keywords</string>
            <key>name</key>
            <string>keyword.class.Helix</string>
            <key>match</key>
            <string>\b(class|enum|struct|type|union)\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>Inheritance and polymorphism keywords</string>
            <key>name</key>
            <string>keyword.inheritance.Helix</string>
            <key>match</key>
            <string>\b(abstract|derives|interface|requires|has)\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>Error handling keywords</string>
            <key>name</key>
            <string>keyword.error.Helix</string>
            <key>match</key>
            <string>\b(catch|finally|panic|try|test)\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>Variable declaration keywords</string>
            <key>name</key>
            <string>keyword.declaration.Helix</string>
            <key>match</key>
            <string>\b(eval|let|static|const)\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>Access specifiers</string>
            <key>name</key>
            <string>keyword.access.Helix</string>
            <key>match</key>
            <string>\b(module|priv|pub|prot)\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>Module importing keywords</string>
            <key>name</key>
            <string>keyword.import.Helix</string>
            <key>match</key>
            <string>\b(as|ffi|import)\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>Concurrency keywords</string>
            <key>name</key>
            <string>keyword.concurrency.Helix</string>
            <key>match</key>
            <string>\b(atomic|await|spawn|thread)\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>Other keywords</string>
            <key>name</key>
            <string>keyword.other.Helix</string>
            <key>match</key>
            <string>\b(delete|unsafe)\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>Primitive Type keywords</string>
            <key>name</key>
            <string>keyword.primitive.Helix</string>
            <key>match</key>
            <string>\b(f32|f64|i128|i16|i32|i64|i8|isize|u128|u16|u32|u64|u8|usize|char|bool|void)\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>Operators</string>
            <key>name</key>
            <string>keyword.operator.Helix</string>
            <key>match</key>
            <string>\b(\+|\+\+|\+=|\+-|\-|\-\-|\-=|\*|\*=|\/|\/=|%|%=|&|&=|&&|&&=|@|@=|\^|\^=|^^|^^=|~|~&|~&=|~\||~\|=|\||\|=|\|\||\|\|=|!|!=|!&|!&=|!\||!\|=|&lt;&lt;|&lt;&lt;=|&gt;&gt;|&gt;&gt;=|==|===|&gt;|&gt;=|&lt;|&lt;=|\.\.|\.\.=|::|-&gt;|=|\*\*|\*\*=)\b</string>
          </dict>
        </array>
      </dict>
      <key>types</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>comment</key>
            <string>numeric types</string>
            <key>match</key>
            <string>\b(int|float|decimal)\b</string>
            <key>captures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>entity.name.type.numeric.Helix</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>comment</key>
            <string>complex types</string>
            <key>match</key>
            <string>\b(string|list|map|set|tuple)\b</string>
            <key>name</key>
            <string>entity.name.type.complex.Helix</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>user-defined types, possibly with generics</string>
            <key>match</key>
            <string>\b(class|struct|enum|union|type)\s+([A-Z][A-Za-z0-9_]*)\b</string>
            <key>captures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>keyword.declaration.type.Helix</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>entity.name.type.user-defined.Helix</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>comment</key>
            <string>type parameters</string>
            <key>match</key>
            <string>\b([A-Z][A-Za-z0-9_]*)\b</string>
            <key>name</key>
            <string>entity.name.type.parameter.Helix</string>
          </dict>
        </array>
      </dict>
      <key>generics</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>comment</key>
            <string>generic type parameters</string>
            <key>name</key>
            <string>storage.type.generic.Helix</string>
            <key>begin</key>
            <string>&lt;</string>
            <key>beginCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.generic.begin.Helix</string>
              </dict>
            </dict>
            <key>end</key>
            <string>&gt;</string>
            <key>endCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.generic.end.Helix</string>
              </dict>
            </dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#namespaces</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#punctuation</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>loops</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>comment</key>
            <string>Standard for loop</string>
            <key>name</key>
            <string>meta.loop.for.Helix</string>
            <key>begin</key>
            <string>\b(for)\s+[a-zA-Z_][a-zA-Z0-9_]*\s*;</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>keyword.control.loop.for.Helix</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>storage.type.variable.Helix</string>
              </dict>
            </dict>
            <key>end</key>
            <string>\{</string>
            <key>endCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.parenthesis.Helix</string>
              </dict>
            </dict>
            <key>patterns</key>
            <array>
            </array>
          </dict>
        </array>
      </dict>
      <key>define</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>comment</key>
            <string>Define invocation with optional parameters</string>
            <key>name</key>
            <string>meta.define.invocation.Helix</string>
            <key>match</key>
            <string>\s?([a-z_][A-Za-z0-9_]+!)</string>
            <key>captures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>entity.name.function.define.Helix</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>comment</key>
            <string>Define macro with optional parameter list and complex body</string>
            <key>name</key>
            <string>meta.define.macro.Helix</string>
            <key>begin</key>
            <string>\b(define)\s+([a-z0-9_]+[A-Za-z0-9_]*!)(\s*\()?</string>
            <key>end</key>
            <string>\)\s*-&gt;\s*([a-z0-9_]+)\s*\{</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>keyword.control.define.Helix</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>entity.name.function.define.Helix</string>
              </dict>
              <key>3</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.parameters.begin.Helix</string>
              </dict>
            </dict>
            <key>endCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.parameters.end.Helix</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.body.begin.Helix</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>comment</key>
            <string>Proc macro</string>
            <key>name</key>
            <string>meta.procedure.macro.Helix</string>
            <key>begin</key>
            <string>\b(macro)\s+([a-z0-9_]+[A-Za-z0-9_]*)(\()</string>
            <key>end</key>
            <string>\)\s*-&gt;\s*([a-z0-9_]+)\s*\{</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>keyword.control.macro.Helix</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>entity.name.function.macro.Helix</string>
              </dict>
              <key>3</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.parameters.begin.Helix</string>
              </dict>
            </dict>
            <key>endCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.parameters.end.Helix</string>
              </dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>entity.name.type.return.Helix</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.body.begin.Helix</string>
              </dict>
            </dict>
          </dict>
        </array>
      </dict>
      <key>namespaces</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>comment</key>
            <string>namespace (non-type, non-function path segment)</string>
            <key>name</key>
            <string>entity.other.namespace.Helix</string>
            <key>match</key>
            <string>(?&lt;![A-Za-z0-9_])([A-Za-z0-9_]+)(::)</string>
            <key>captures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>entity.name.namespace.Helix</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>keyword.operator.namespace.Helix</string>
              </dict>
            </dict>
          </dict>
        </array>
      </dict>
      <key>punctuation</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>punctuation.comma.Helix</string>
            <key>match</key>
            <string>,</string>
          </dict>
          <dict>
            <key>name</key>
            <string>punctuation.brackets.curly.Helix</string>
            <key>match</key>
            <string>[{}]</string>
          </dict>
          <dict>
            <key>name</key>
            <string>punctuation.brackets.round.Helix</string>
            <key>match</key>
            <string>[()]</string>
          </dict>
          <dict>
            <key>name</key>
            <string>punctuation.semi.Helix</string>
            <key>match</key>
            <string>;</string>
          </dict>
          <dict>
            <key>name</key>
            <string>punctuation.brackets.square.Helix</string>
            <key>match</key>
            <string>[\[\]]</string>
          </dict>
          <dict>
            <key>name</key>
            <string>punctuation.brackets.angle.Helix</string>
            <key>match</key>
            <string>(?&lt;!=)[&lt;&gt;]</string>
          </dict>
        </array>
      </dict>
      <key>strings</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>comment</key>
            <string>double-quoted strings and byte strings</string>
            <key>name</key>
            <string>string.quoted.double.Helix</string>
            <key>begin</key>
            <string>(b|r|f|u|rf|br|uf)?(")</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>string.quoted.byte.raw.Helix</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.string.Helix</string>
              </dict>
            </dict>
            <key>end</key>
            <string>"</string>
            <key>endCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.string.Helix</string>
              </dict>
            </dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#escapes</string>
              </dict>
              <dict>
                <key>include</key>
                <string>#interpolations</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>comment</key>
            <string>characters and bytes</string>
            <key>name</key>
            <string>string.quoted.single.char.Helix</string>
            <key>begin</key>
            <string>(b|r|f|u|rf|br|uf)?(')</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>string.quoted.byte.raw.Helix</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.char.Helix</string>
              </dict>
            </dict>
            <key>end</key>
            <string>'</string>
            <key>endCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.char.Helix</string>
              </dict>
            </dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#escapes</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>class_reference</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>comment</key>
            <string>self</string>
            <key>name</key>
            <string>variable.language.self.Helix</string>
            <key>match</key>
            <string>\bself\b</string>
          </dict>
          <dict>
            <key>comment</key>
            <string>super</string>
            <key>name</key>
            <string>variable.language.super.Helix</string>
            <key>match</key>
            <string>\bsuper\b</string>
          </dict>
        </array>
      </dict>
      <key>variables</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>variable.other.Helix</string>
            <key>match</key>
            <string>\b[a-zA-Z_][a-zA-Z0-9_]*\b</string>
          </dict>
        </array>
      </dict>
    </dict>
  </dict>
</plist>